
h4{
    text-align: center;
}
.selectpicker{
    height: 100%;
}
.divagregar{
    background-color: white;
}

.panel-heading{
    background: #f5f5f5;
    width:  80%;
      min-width:250px; 
}

#panelInformacionDerecha{
    background: #fafafa;
    min-width:250px; 
    width:  80%;
    display: inline-block;
    margin-top: 0px;
    float: left;
    overflow: hidden;
    padding: 1%;

}


.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}
#cuerpoModalToquetes{
    background-color: #d2d2d2; 
}


table th, table td {
    text-align: center;
}

.tab {

    border: 1px solid #ccc;
    color: white;
    width: 100%;
     clear: both;
    overflow: hidden;
}

#tab-indice{
    background-color: #341500;
}

.tab button {
    display: inline-block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 25%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


.tab button:hover {
    background-color: #337ab7;
    color:  white ;
}

.tab button.active {
    background-color: #337ab7;
    color:  white ;
}

.tabcontent { 
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    background: #f5f5f5;
    overflow: hidden;
    min-height: 500px;

}

.tab-oculto{
    display: none;
}

.table{
    max-height: 80%;
    overflow-y: auto;
}

.modal-lg{
    width: 80%;
}
#exTab1 .tab-content {
    color : white;   
    background-color: #337AB7;
    /*background-color: #F2F2F2; gris     background-color: #337AB7;*/ 
    padding : 5px 15px;
    border-top: 2px solid #337AB7;
}

ul.nav-pills li{
    background-color: #F2F2F2; 
}

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

table.tablasTiquetes th.thDescripcion{
    width: 22%;
}

table.tablasTiquetes th, table.tablasTiquetes td {
    text-align: left;
    color:black;
}

.rating {  
    position: relative;
    min-width: 160px;
}

.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size: 200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: gold !important;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5) !important;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating2 {
    position: relative;
    min-width: 160px;
}

.rating2:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating2:not(:checked) > label {    
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating2:not(:checked) > label:before {
    content: '★';
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.paginate_button.disabled:active,
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate{
    color: black  !important;
}

@media (max-width:650px){
    ul.nav-pills li.bandeja-tab{
            width: 100%;
    
    }
    .nav {
        margin-bottom: 10px;
    }
    .btn{
         width: 100%;
         
    }
  
}