.filtros{
    margin-bottom: 5%;
}
.dt-buttons{
    text-align: end;
}
.buttons-html5{
margin-left: 0px;
position: relative;
display: inline-block;
box-sizing: border-box;
margin-right: 0.333em;
margin-bottom: 0.333em;
padding: 0.5em 1em;
border: 1px solid #999;
border-radius: 2px;
cursor: pointer;
font-size: 0.88em;
color: black;
white-space: nowrap;
overflow: hidden;

    
}
